<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.oauth2.mapper.RoleMapper">

    <select id="selectByUserId" resultType="com.zeroone.star.oauth2.entity.RoleDO">
        select role_id, role_name, role_key, remark
        from sys_role
        where role_id in
              (select role_id
               from sys_user_role
               where user_id = #{userId})
    </select>
    <select id="selectByMenuPath" resultType="com.zeroone.star.oauth2.entity.RoleDO">
        select role_id, role_key
        from sys_role
        where role_id in
              (select role_id
               from sys_role_menu
               where menu_id in
                     (select menu_id
                      from sys_menu
                      where path = #{path}))
    </select>

</mapper>



