<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.orgstructure.mapper.UserRoleMapper">

    <resultMap type="com.zeroone.star.orgstructure.entity.UserRoleDO" id="SysUserRoleResult">
        <result property="userId"     column="user_id"      />
        <result property="roleId"     column="role_id"      />
    </resultMap>

    <select id="getUsersByRoleId" resultType="com.zeroone.star.orgstructure.entity.UserDO">
        SELECT u.* FROM sys_user u
                            JOIN sys_user_role ur ON u.user_id = ur.user_id
        WHERE ur.role_id = #{roleId}
            LIMIT #{offset}, #{limit}
    </select>

    <delete id="deleteUserRoleInfos">
        delete from sys_user_role where role_id=#{roleId} and user_id in
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <insert id="batchUserRole">
        insert into sys_user_role(user_id, role_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.userId},#{item.roleId})
        </foreach>
    </insert>

</mapper>
