# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files

# 在我们前端项目中 很重视该配置。所以不应该忽略该配置
# .vscode/*
# !.vscode/extensions.json

.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Compile
auto-imports.d.ts
components.d.ts
node_modules

# 忽略自动生成的依赖锁文件 不提供包管理器的依赖锁文件
pnpm-lock.yaml
package-lock.json