# 默认 淘宝镜像
registry=https://registry.npmmirror.com/
#  腾讯镜像
# registry=https://mirrors.cloud.tencent.com/npm/
engine-strict=true

# 阮喵喵自己开发了一些依赖包，这些依赖包发布在npm上，
# 但是npm上的镜像不是最新的，所以需要指定registry
@ruan-cat:registry=https://registry.npmjs.org/